- content_for :page_title, "Edit #{<%= blog_name.underscore %>.title}"

%nav#form_content
  = link_to '<%= post_name.pluralize %>', <%= blog_name.underscore %>.<%= post_name.tableize %>_path

= full_form_for <%= blog_name.underscore %> do |f|

  = f.fields do
    = render partial: 'frame/pages/common_fields', locals: {f: f, page: <%= blog_name.underscore %>}

<%- row_item = 0 %>

<%- if @blog_attributes.length > 0 %>
    = f.row do

<% end %>

<%- @blog_attributes.each do |field| %>
  
  <%- if row_item == 2 %>
    = f.row do 
    <%- row_item = 0 %>
  <%- end %>



  <%- if field.split(':').last == 'string' %>
      = f.text_field :<%= field.split(':').first %>
    <%- row_item = row_item + 1 %>
  <%- elsif field.split(':').last == 'post' %>
      = f.post_field :<%= field.split(':').first %>
    <%- row_item = row_item + 1 %>
  <%- elsif field.split(':').last == 'text' %>

    <%- if row_item == 1 %>
    = f.row do
      
    <%- end %>
      = f.text_area :<%= field.split(':').first %>, full: true, class: 'ck'

    <%- row_item = 2 %>
  <%- end %>
  

  
<%- end %>

  = f.controls links_path
