.page.<%= blog_name.underscore %>
  %h1= <%= blog_name.underscore %>.title
  
  != <%= blog_name.underscore %>.body
  
  %h6 Posts
  
  %ul
    - @<%= post_name.tableize %>.each do |<%= post_name.underscore %>|
      %li
        -# TODO post tag with alt
        = link_to link.slug_path(content: <%= post_name.underscore %>) do
          = <%= post_name.underscore %>.title

<%- @blog_attributes.each do |field| %>
  <%- if field.split(':').last == 'post' %>
  = post_tag <%= blog_name.underscore %>.<%= field.split(':').first %>, alt: 'Change me'
  <%- else %>
  %div
    = <%= blog_name.underscore %>.<%= field.split(':').first %>.to_s.html_safe
  <% end %>
<%- end %>