= full_form_for [<%= gallery_name.underscore %>, <%= image_name.underscore %>] do |f|

  = f.fields do
    = f.row do
      = f.text_field :title
      = f.image_field :image
      
    = f.row do
      = f.text_field :alt
      = f.radio_toggle :published, on_label: 'Yes', off_label: 'No'
      
    = f.row do
      = f.text_area :body, full: true, class: 'ck'



<%- row_item = 0 %>

<%- if @image_attributes.length > 0 %>
    = f.row do

<% end %>

<%- @image_attributes.each do |field| %>
  
  <%- if row_item == 2 %>
    = f.row do 
    <%- row_item = 0 %>
  <%- end %>



  <%- if field.split(':').last == 'string' %>
      = f.text_field :<%= field.split(':').first %>
    <%- row_item = row_item + 1 %>
  <%- elsif field.split(':').last == 'image' %>
      = f.image_field :<%= field.split(':').first %>
    <%- row_item = row_item + 1 %>
  <%- elsif field.split(':').last == 'text' %>

    <%- if row_item == 1 %>
    = f.row do
      
    <%- end %>
      = f.text_area :<%= field.split(':').first %>, full: true, class: 'ck'

    <%- row_item = 2 %>
  <%- end %>
  

  
<%- end %>


  = f.controls <%= gallery_name.underscore %>.<%= image_name.tableize %>_path