- content_for :page_title, '<%= gallery_name.pluralize %>'

#listing{data: { listingmodel: 'chocolate.frame.models.<%= image_name %>' } }
  %table.images.headings
    %tr
      %th.select
        = pseudo_check_box_tag 'all'
      %th.title Title
      %th.alt Alt
      %th.position Position
      %th.published Published

  = sly do
    %table.images.content
      - <%= image_name.tableize %>.each do |image|
        %tr{data: {id: image.id, model: image.row_json}}
          %td.select
            = pseudo_check_box_tag 'select[]', image.id, false
          %td.title>
            = image.lightbox_thumb
            .text><
              = image.title
            .controls>
              = link_to 'Edit', image.edit_path, class: 'edit'
              \|
              = link_to 'Delete', image.path, class: 'delete', method: :delete, data: { confirm: "Are you sure you wish to delete this image?<br/>It cannot be recovered." }
          %td.alt= image.alt
          %td.position
            %span.value= image.position + 1
            %span.icon-move.handle
          %td.published= slide_toggle_tag :published, '1', image.published

  #controls
    = link_to 'New', <%= gallery_name.underscore %>.new_<%= image_name.underscore %>_path, class: 'left new'
    %button.right.delete Delete
