.<%= gallery_name.underscore %>.<%= image_name.underscore %>
  %h1= <%= gallery_name.underscore %>.title
  
  %h2
    = <%= image_name.underscore %>.title
    
  %div
    = image_tag <%= image_name.underscore %>.image, alt: <%= image_name.underscore %>.alt
  
  != <%= image_name.underscore %>.body


<%- @image_attributes.each do |field| %>
  <%- if field.split(':').last == 'image' %>
  = image_tag <%= image_name.underscore %>.<%= field.split(':').first %>, alt: 'Change me'
  <%- else %>
  %div
    = <%= image_name.underscore %>.<%= field.split(':').first %>.html_safe
  <% end %>
<%- end %>