- content_for :page_title, "Edit #{<%= underscored_name %>.title}"


= full_form_for <%= underscored_name %> do |f|

  = f.fields do
    = f.row do
      = render partial: 'frame/pages/common_fields', locals: {f: f, page: <%= underscored_name %>}

<%- row_item = 0 %>

<%- if attributes.length > 0 %>
    = f.row do
<%- end %>
<%- attributes.each do |field| %>
  <%- if row_item == 2 %>
    = f.row do
    <%- row_item = 0 %>
  <%- end %>
  <%- if field.split(':').last == 'string' %>
      = f.text_field :<%= field.split(':').first %>
    <%- row_item = row_item + 1 %>
  <%- elsif field.split(':').last == 'image' %>
      = f.image_field :<%= field.split(':').first %>
    <%- row_item = row_item + 1 %>
  <%- elsif field.split(':').last == 'text' %>
    <%- if row_item == 1 %>
    = f.row do

    <%- end %>
      = f.text_area :<%= field.split(':').first %>, full: true, class: 'ck'

    <%- row_item = 2 %>
  <%- end %>
<%- end %>
  = f.controls links_path
