.page.<%= underscored_name %>
  %h1= page.title
  
  != page.body


<%- attributes.each do |field| %>
  <%- if field.split(':').last == 'image' %>
  = image_tag page.<%= field.split(':').first %>, alt: 'Change me'
  <%- else %>
  %div
    = page.<%= field.split(':').first %>.html_safe
  <% end %>
<%- end %>