.page.<%= gallery_name.underscore %>
  %h1= <%= gallery_name.underscore %>.title
  
  != <%= gallery_name.underscore %>.body
  
  %h6 Images
  
  %ul
    - @<%= image_name.tableize %>.each do |<%= image_name.underscore %>|
      %li
        -# TODO image tag with alt
        = link_to link.slug_path(content: <%= image_name.underscore %>) do
          = <%= image_name.underscore %>.title

<%- @gallery_attributes.each do |field| %>
  <%- if field.split(':').last == 'image' %>
  = image_tag <%= gallery_name.underscore %>.<%= field.split(':').first %>, alt: 'Change me'
  <%- else %>
  %div
    = <%= gallery_name.underscore %>.<%= field.split(':').first %>.html_safe
  <% end %>
<%- end %>