= full_form_for [<%= blog_name.underscore %>, <%= post_name.underscore %>] do |f|

  = f.fields do
    = f.row do
      = f.text_field :category
      = f.text_field :title
      
    = f.row do
      = f.text_area :body, full: true, class: 'ck'

      
    = f.row do
      = f.radio_toggle :published, on_label: 'Yes', off_label: 'No'
      = f.date_field :publish_date



<%- row_item = 0 %>

<%- if @post_attributes.length > 0 %>
    = f.row do

<% end %>

<%- @post_attributes.each do |field| %>
  
  <%- if row_item == 2 %>
    = f.row do 
    <%- row_item = 0 %>
  <%- end %>



  <%- if field.split(':').last == 'string' %>
      = f.text_field :<%= field.split(':').first %>
    <%- row_item = row_item + 1 %>
  <%- elsif field.split(':').last == 'post' %>
      = f.post_field :<%= field.split(':').first %>
    <%- row_item = row_item + 1 %>
  <%- elsif field.split(':').last == 'text' %>

    <%- if row_item == 1 %>
    = f.row do
      
    <%- end %>
      = f.text_area :<%= field.split(':').first %>, full: true, class: 'ck'

    <%- row_item = 2 %>
  <%- end %>
  

  
<%- end %>


  = f.controls <%= blog_name.underscore %>.<%= post_name.tableize %>_path