- content_for :page_title, '<%= blog_name.pluralize %>'

#listing{data: { listingmodel: 'chocolate.frame.models.<%= post_name %>' } }
  %table.posts.headings
    %tr
      %th.select
        = pseudo_check_box_tag 'all'
      %th.title Title
      %th.body Body
      %th.publish_date Publish date
      %th.published Published

  = sly do
    %table.posts.content
      - <%= post_name.tableize %>.sort_by { |e| e.publish_date }.reverse.each do |post|
        %tr{data: {id: post.id, model: post.row_json}}
          %td.select
            = pseudo_check_box_tag 'select[]', post.id, false
          %td.title
            = post.title
            .controls
              = link_to 'Edit', post.edit_path, class: 'edit'
              \|
              = link_to 'Delete', post.path, class: 'delete', method: :delete, data: { confirm: "Are you sure you wish to delete this post?<br/>It cannot be recovered." }
          %td.publish_date= post.publish_date.to_s :na
          %td.published= slide_toggle_tag :published, '1', post.published

  #controls
    = link_to 'New', <%= blog_name.underscore %>.new_<%= post_name.underscore %>_path, class: 'left new'
    %button.right.delete Delete
