.<%= blog_name.underscore %>.<%= post_name.underscore %>
  %h1= <%= blog_name.underscore %>.title
  
  %h2
    = <%= post_name.underscore %>.title
  %h6
    = <%= post_name.underscore %>.publish_date
  
  != <%= post_name.underscore %>.body


<%- @post_attributes.each do |field| %>
  <%- if field.split(':').last == 'post' %>
  = post_tag <%= post_name.underscore %>.<%= field.split(':').first %>, alt: 'Change me'
  <%- else %>
  %div
    = <%= post_name.underscore %>.<%= field.split(':').first %>.html_safe
  <% end %>
<%- end %>